volumes:
  local_postgres_data: {}
services:
  api:
    build: .
    command: /start.sh
    volumes:
      - .:/code
    env_file: .env
    ports:
      - "8010:8000"
    depends_on:
      - db
    stdin_open: true
    tty: true
    restart: on-failure
  db:
    restart: on-failure
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - local_postgres_data:/var/lib/postgresql/data:Z
